{%include 'public_pages/user_header.html'%}
<head>
    <title>User Home</title>
</head>

<div class="container d-flex flex-column align-items-center">
    <main class="px-3 text-center">
        <h1>Email Spam Recognition</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="submit_message" class="btn btn-lg btn-primary">Check Spam</a>
        </p>
      </main>
</div>

{%include 'public_pages/user_footer.html'%}