{%include 'public_pages/user_header.html'%}
<head>
    <title>User Home</title>
</head>

<div class="container d-flex flex-column align-items-center">
    <main class="px-3 text-center">
      <br><br><br><br><br><br><br><br>
        <h1>Email Spam Recognition</h1>
        <br><br>
        <p class="lead">
          <a href="submit_message" class="btn btn-lg btn-primary">Check Spam</a>
        </p>
        <br><br><br><br><br><br><br><br><br><br>
      </main>
</div>

{%include 'public_pages/user_footer.html'%}