    {%include 'admin_pages/admin_header.html'%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="2" class="table table-bordered" STYLE="color: white">
  <tr>
    <th width="8" scope="col">#</th>
    <th width="55" scope="col">Name</th>

    <th width="42" scope="col">Phone</th>
    <th width="68" scope="col">Email</th>
    <th width="68" scope="col">photo</th>

  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.firstname }} {{i.lastname}}</td>

    <td>&nbsp;{{ i.phone }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td><img src="{{ i.photo }}" alt="" height="40px" width="40px"/></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{%include 'admin_pages/admin_footer.html'%}